@mixin footer{

        height: 1fr;
        background-color: black;
        color: rgb(116, 111, 111);

        .alunos{
            color: rgb(255, 255, 255);
        }

        .icones{
            margin: 5px;
        }
}


@mixin  videos{
    border-radius: 15px;
    margin: rem;
    width: 60vw;
    height: 40vh;
}