html {
    scroll-behavior: smooth;    // Navegação da página suavizada.
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

    body {

       
        header {
           width: 100%;
        }

        main {
            .banner {
                position: absolute;
                width: 100%;
            }

            .login {
                // position: relative;
                // z-index: 10;
                padding: 30px;

                .logo {
                    padding: 20px;
                }

            }


        }
    }
}