@import "_mixin.scss"; //Importando footer, videos

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    
    .caixa-principal {
    
        .link {
            text-decoration: none;
            font-size: 14px;
        }

        .videoBastion{
            @include videos ; 
        }

        footer{
            @include footer;
        }
    
    }
}