html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body header {
  width: 100%;
}

* body main .banner {
  position: absolute;
  width: 100%;
}

* body main .login {
  padding: 30px;
}

* body main .login .logo {
  padding: 20px;
}
/*# sourceMappingURL=styleLogin.css.map */