html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

* .caixa-principal .link {
  text-decoration: none;
  font-size: 14px;
}

* .caixa-principal .videoBastion {
  border-radius: 15px;
  margin: rem;
  width: 60vw;
  height: 40vh;
}

* .caixa-principal footer {
  height: 1fr;
  background-color: black;
  color: #746f6f;
}

* .caixa-principal footer .alunos {
  color: white;
}

* .caixa-principal footer .icones {
  margin: 5px;
}
/*# sourceMappingURL=styleGames.css.map */